<div class="container mt-2 animate__animated animate__fadeInLeft animate__faster">
  <%= link_to 'Back', tasks_path , class:"text-white btn btn-danger mt-2"%>
  <div class="row justify-content-center">
    <div class="col-6 align-self-center " style=" width: 40vw">
      <h1>Tasks Report</h1> <hr/><br>


      <%= form_tag({:controller => "tasks", :action => "report"},
      :method => "get", :class => "nifty_form") %>


      <%= select_tag :id_user, options_from_collection_for_select(@users, "id", "email") , 
      class:"custom-select custom-select-lg mb-3"%>

      <%= select_tag :state, options_for_select([['Pending', 0], ['Completed', 1]]) , 
      class:"custom-select custom-select-lg mb-3"%>

      

      <input type="submit" value="Generate" class="btn btn-danger">
        

    </div>
  </div>
</div>
