// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cursor
{
    cursor: pointer !important;
}
.picker-form
.datepicker, .datepicker-dropdown ,
.dropdown-menu, .datepicker-orient-left ,
.datepicker-orient-top{
    cursor: pointer !important;
    left: 495px !important;
    margin-top: 37px;
}